#head, #foot {
    background-color: darkgray;
}

#container {
    height: 200px;
    padding: 0 202px 0 200px;
}

#center {
    width: 100%;
    float: left;
    height: 200px;
    background-color: red;
}

#left {
    width: 200px;
    float: left;
    height: 200px;
    background-color: aqua;
    margin-left: -100%;
    position: relative;
    left: -200px;
}

#right {
    width: 200px;
    float: left;
    height: 200px;
    background-color: green;
    margin-left: -202px;
    position: relative;
    right: -202px;
}

#foot {
    clear: both;
}